html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 25px;
}

.topRectangle {
   width:100%;
   border: 7px solid black;
   padding:8px;
   box-sizing:border-box;
   height: 238px;
   
   
}
.purpleRectangle{
    height: 170px;
    width: 60px;
    background-color: blueviolet;
    position: absolute;
    margin-top: 40px;
    margin-left: 3px;
    margin-bottom:5px;
}
.greenRectangle{
    height: 200px;
    width: 600px;
    background-color: green;
    position:absolute;
    margin-top:5px;
    margin-left: 120px;
    
    
}
.blueCircle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: skyblue;
    margin-left: 780px;
}

.middleRectangle{
    width: 100%;
    border: 7px dotted black;
    height: 290px;
    margin-top: 25px;
    box-sizing: border-box;

}
.yellowRectangle{
    width: 1400px;
    height: 200px;
    background-color: lightyellow;
    margin-top: 35px;
    margin-left: 35px;

}
.helloFriendsRectangle{
    width: 600px;
    height: 290px;
    border: 1px solid lightgray;
    margin-top:35px;
    margin-left: 400px;
}
.helloFriendsRectangle h1{
    width: 100%;
    text-align: center;
    margin-top: 110px;
    color: darkblue;
    letter-spacing: 10px;

}